@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #ffffff;
  overflow-x: hidden;
}

::selection {
  background-color: #00f3ff;
  color: #000;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f3ff;
}
